<div class="login-page">
  <h1 class="app-title">EmployeeConnect</h1>
  <div class="login-container">
    <button class="close-button">×</button>
    <h2>Login Form</h2>
    <!-- ngSubmit directive binds to the onLogin method -->
    <form (ngSubmit)="onLogin()">
      <div>
        <label for="username">Admin username</label>
        <input type="text" id="username" placeholder="Enter username" name="username" [(ngModel)]="username" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password" name="password" [(ngModel)]="password" required />
      </div>
      <a href="#" class="forgot-password">Forgot Password?</a>
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
