<nav class="navbar">
  <div class="navbar-container">
    <!-- Branding container -->
    <div class="navbar-brand-container">
      <img src="../../../assets/loginemployee.png" alt="App Icon" class="app-icon" />
      <a href="/" class="navbar-brand">EmployeeConnect</a>
    </div>

    <!-- Navbar links -->
    <div class="navbar-link-container">
    <ul class="navbar-links">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a (click)="navigateToPerformance()">Performance Rating</a></li>
      <li><a (click)="navigateToSearch()">Search</a></li>
      <li><a (click)="logout()" class="signout-link">Sign Out</a></li>
    </ul>
    </div>
  </div>
</nav>
