<!-- navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
      <!-- EmployeeConnect branding on the left -->
      <a href="/" class="navbar-brand">EmployeeConnect</a>
  
      <!-- Navbar links -->
      <ul class="navbar-links">
        <li><a href="/dashboard">Dashboard</a></li>
        
        <li><a href="/performance-report">Performance Rating</a></li>
        <li><a (click)="navigateToSearch()">Search</a></li>
        <!-- Sign Out Link -->
        <li><a href="/signout" class="signout-link">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  