<div class="sidebar">
    <ul class="sidebar-links">
      <li><a (click)="navigateToAddEmployee()" class="sidebar-link">
          <img src="../../../assets/add.png" alt="Add Employee" class="sidebar-icon"> Add Employee
        </a></li>
      <li><a (click)="navigateToViewEmployee()" class="sidebar-link">
          <img src="../../../assets/view.png" alt="View Employee" class="sidebar-icon"> View Employee
        </a></li>
      <li><a (click)="navigateToUpdateEmployee()" class="sidebar-link">
          <img src="../../../assets/update.png" alt="Update Employee" class="sidebar-icon"> Update Employee
        </a></li>
      <li><a (click)="navigateToDeleteEmployee()" class="sidebar-link">
          <img src="../../../assets/delete.png" alt="Delete Employee" class="sidebar-icon"> Delete Employee
        </a></li>
        <li><a (click)="navigateToWorkingHours()" class="sidebar-link">
            <img src="../../../assets/timelog.png" alt="Working Hours" class="sidebar-icon"> Task Updation
          </a></li>

          <li><a  class="sidebar-link">
            <img src="../../../assets/settings.png" alt="Settings" class="sidebar-icon"> Settings
          </a></li>
    </ul>
  </div>
  