<div class="employee-container">
  <h1>Search Employees</h1>

  <div class="employee-layout">
    <div class="employee-table-container">
      <div class="search-controls">
        <select  [(ngModel)]="searchType" class="search">
          <option value="" disabled selected>Select Search Type</option>
          <option value="name">Name</option>
          <option value="department">Department</option>
          <option value="id">Employee ID</option>
        </select>
        <input
          [(ngModel)]="searchValue"
          (input)="onSearch()"
          type="text"
          placeholder="Search"
        />
      </div>

      <table class="employee-table">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of paginatedEmployees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>
              <button class="view-button" (click)="onViewMore(employee)">View</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination-controls">
        <button class="page-button" (click)="previousPage()" [disabled]="currentPage <= 1">Previous</button>
        <span>     Page {{ currentPage }} of {{ totalPages }}    </span>
        <button class="page-button" (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
      </div>
    </div>

    <div *ngIf="selectedEmployee" class="employee-card">
      <h2>Employee Details</h2>
      <div class="employee-details">
        <div class="profile-picture-placeholder">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Profile Picture" class="profile-picture" />
        </div>
        <div class="details">
          <p><strong>ID:</strong> {{ selectedEmployee.id }}</p>
          <p><strong>Name:</strong> {{ selectedEmployee.firstName }} {{ selectedEmployee.lastName }}</p>
          <p><strong>Email:</strong> {{ selectedEmployee.emailId }}</p>
          <p><strong>Department:</strong> {{ selectedEmployee.department.name }}</p>
        </div>
      </div>
      <button class="close-button" (click)="closeEmployeeDetails()">Close</button>
    </div>
  </div>
</div>

